body {
    background-image: url("https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-color: rgb(226, 27, 27, 0.4);
    padding: 0;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0;
    background-color: rgb(158, 255, 30,0.2);
    padding: 20px 0px;
}

.header {
    text-align: center;
    margin-top: 20px;
}

form {
    font-size: 1.2rem;
    color:seashell;
    margin: auto;
    width: 40%;
    background-color: rgba(8, 6, 87, 0.678);
    padding: 25px;
    border-radius: 10px;
}

.form-group>input , select, .submit-btn, textarea {
    width: -moz-available;
    width: -webkit-fill-available;
    height: 2rem;
    border-radius: 5px;
    margin: 5px 2px;
    padding: 3px;
    font-size: 1rem;
}

textarea {
    height: 5rem;
    resize: none;
    font-size: 1.2rem;
}

label > input {
    margin-right: 12px;
}

.submit-btn {
    background-color: green;
    color: honeydew;
}

@media only screen and (max-width: 768px) {
    form {
        width: 60%;
    }
}

@media only screen and (max-width: 425px) {
    form {
        width: 90%;
    }
}

